flows/Case_Screen_Invoice_Order_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Invoice_Number_to_Order_field</name>
        <label>Assign Invoice Number to Order field</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.InvoiceNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceNumber_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.OrderNumber__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.InvoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceDateVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlantCodeVariable_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Number_to_Invoice_field</name>
        <label>Assign Order Number to Invoice field</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.OrderNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceNumber_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseUpdateVariable.InvoiceNumber__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PlantCodeVariable_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_individual_records</name>
        <label>Assign values to individual records</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_across_edited_records.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseProductUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_across_edited_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceNumber_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_across_edited_records.DocumentNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlantCode_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_across_edited_records.PlantCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_across_edited_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the Invoice or Order Number is to be added back to the record.</description>
        <name>Add_Invoice_Order_Number_back_to_Case</name>
        <label>Add Invoice/Order Number back to Case</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Selection_Made_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edited_record_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceNumber_Variable</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Case_Product_Records</targetReference>
            </connector>
            <label>Edited record exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Case_Products_Exist</name>
        <label>Check If Case Products Exist</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_across_edited_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Case_Products_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Case_Product_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Case_Products</targetReference>
            </connector>
            <label>Case Products Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_or_Order</name>
        <label>Invoice or Order</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_if_Stock_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>Skip if Stock Transfer</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Number_to_Order_field</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Number_to_Invoice_field</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check wether a value was stored in the Plant Code Variable</description>
        <name>PlantCodeVariable_populated</name>
        <label>PlantCodeVariable populated?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record_Invoice_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlantCodeValue_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlantCode_Variable</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse_record</targetReference>
            </connector>
            <label>Value present</label>
        </rules>
    </decisions>
    <description>Use to query Invoice and Order tables from Denodo so that Customers and internal Users can retrieve information related to placed orders and invoices. This information will create Case_Product__c records related to the Case.

Jira: SK-1290</description>
    <environments>Default</environments>
    <interviewLabel>[Case] [Screen] Invoice Order LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] [Screen] Invoice Order LWC</label>
    <loops>
        <name>Loop_across_edited_records</name>
        <label>Loop across edited records</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>CaseProduct_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_individual_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Product_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the Case Product records that have been edited in the screen component.</description>
        <name>Create_Case_Product_records</name>
        <label>Create Case Product records</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Invoice_or_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_changes</targetReference>
        </faultConnector>
        <inputReference>CaseProductUpdate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Case_Products</name>
        <label>Delete Existing Case Products</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_across_edited_records</targetReference>
        </connector>
        <inputReference>Get_Existing_Case_Product_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Retrieve Case record from recordId.</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LWC_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Case_Product_Records</name>
        <label>Get Existing Case Product Records</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Case_Products_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the Warehouse record using the Plant Code and assign it to the CaseUpdateVariable</description>
        <name>Get_Warehouse_record</name>
        <label>Get Warehouse record</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Record_Invoice_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlantCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PlantCode_Variable</elementReference>
            </value>
        </filters>
        <object>Warehouse__c</object>
        <outputAssignments>
            <assignToReference>CaseUpdateVariable.Warehouse__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <description>Roll back changes when a fault occurs.</description>
        <name>Roll_back_changes</name>
        <label>Roll back changes</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Case_Record_Invoice_Order</name>
        <label>Update Case Record Invoice/Order</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>CaseUpdateVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordsCreationConfirmation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your request has been recorded.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You may close this tab.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>842</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;An error has occurred. Please review the below and rectify:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LWC_Screen</name>
        <label>LWC Screen</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Invoice_Order_Number_back_to_Case</targetReference>
        </connector>
        <fields>
            <name>LWC_Component</name>
            <extensionName>c:orderInvoiceDiscrepancy</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchDateFieldLabel</name>
                <value>
                    <stringValue>Please enter a date range</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchNumberFieldLabel</name>
                <value>
                    <stringValue>Please enter an Invoice or Order Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableName</name>
                <value>
                    <elementReference>Get_Case_Record.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CaseProduct_Collection</assignToReference>
                <name>objectArrayVariable</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InvoiceNumber_Variable</assignToReference>
                <name>invoiceNumberVariable</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TypeVariable</assignToReference>
                <name>typeVariable</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InvoiceDateVariable</assignToReference>
                <name>invoiceOrderDate</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Selection_Made_Screen</name>
        <label>No_Selection_Made_Screen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Selection_Made_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No selection was made.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You may close this tab or return to previous screen.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>To store the records in which have been modified by the User.</description>
        <name>CaseProduct_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseProduct__c</objectType>
    </variables>
    <variables>
        <name>CaseProductArray</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseProductUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseProduct__c</objectType>
    </variables>
    <variables>
        <name>CaseUpdateVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InvoiceDateVariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the returned value from the LWC</description>
        <name>InvoiceNumber_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>To store the Plant Code variable from the Order or Invoice Product</description>
        <name>PlantCode_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
